name: Push pre-built action

on:
  push:
    branches:
      - 'master'
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Setup node.js
        uses: actions/setup-node@v2.5.2
        with:
          node-version: 17.x

      - name: Checkout
        uses: actions/checkout@v4.1.0

      - name: Install dependencies
        run: |
          npm install

      - name: Install ncc
        run: |
          npm install @vercel/ncc

      - name: Build index.js
        run: |
          npm run build
